html {
    scrollbar-color: hsl(0,0%, 67%) transparent;
}

:root {
    --main-background-color: #0f0f0f;
    --main-app-zindex: 10;

    --sidebar-width: 240px;
}

/*html[light] { if html tag has light attribute
    scrollbar-color: hsl(0,0%, 33%) transparent;
}*/

#app {
    display: block;
    position: absolute;

    width: 100%;
    min-height: 100%;

    left: 0;
    right: 0;
    top: 0;

    z-index: var(--main-app-zindex);
}

#popup {
    display: block;
    position: absolute;

    width: 100%;
    min-height: 100%;

    left: 0;
    right: 0;
    top: 0;
}

body {
    padding: 0;
    margin: 0;
    overflow-y: scroll;

    background-color: var(--main-background-color);
}

div, img {
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
}






#side-guide {
    position: fixed;

    top: var(--topbar-container-height);

    width: var(--sidebar-width);
    height: calc(100% - var(--topbar-container-height));
}

/*
need min width sideguide stuff to change
also things inside should collapse into just image logo
*/

#page-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: absolute;

    top: var(--topbar-container-height);
    left: var(--sidebar-width);

    width: calc(100% - var(--sidebar-width));
    height: calc(100% - var(--topbar-container-height));

    z-index: -1;
}

#content-container {
    position: relative;
    right: calc(var(--sidebar-width) / 2); /* this may require some future attention */
    
    width: 50%;

    height: 150rem;
}